@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif ;
    scroll-behavior: smooth;
  }
}

/* Hide the page content while loading */
#content {
  display: none;
}
/* Animation for loader */
.loader {
  border: 8px solid #CBD5E1; /* Light grey */
  border-top: 8px solid #475569; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}